beautifulsoup4==4.13.4
fitz==0.0.1.dev2
Flask==3.1.1
langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.60
latex2mathml==3.78.0
loguru==0.7.3
lxml==5.3.2
Markdown==3.8
markdown2==2.5.3
numpy==2.2.6
opencv_python==4.11.0.86
PyPDF2==3.0.1
python_docx==1.1.2
Requests==2.32.3
ultralytics==8.3.141
waitress==2.1.2
